.login-and-register {
  margin-bottom: 40px;
  .area-form {
    background: url("../../assets/img/bg-login.png");
    background-position: 50px center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 570px;
    .box-form {
      box-shadow: -1px 0px 8px -3px #979595;
      width: 75%;
      margin: 30px auto;
      @include media-max(992) {
        width: 85%;
      }
      @include media-max(768) {
        width: 100%;
      }
      .sec-right {
        background-color: #fff;
        height: 100%;
        height: 580px;
        @include media-max(768) {
          padding: 80px 10px;
        }
        h5 {
          color: $blue;
          margin: 37px 0 50px;
        }
        form {
          text-align: right;
          .form-group {
            margin: 10px 0;
            position: relative;
            label {
              color: $blue;
              margin:0;
              transform: translateY(5px);
            }
            input {
              text-align: center;
              border: none;
              border-bottom: 2px solid #ddd;
              color: $black;
              &:focus {
                outline: none;
                box-shadow: 0px 2px 0px 0px #bfc8e3;
              }
            }
            img {
              position: absolute;
              right: 0px;
              bottom: 8px;
            }
          }
          button {
            @include btn($green, #FFF);
            display: block;
            width: 250px;
            margin: 55px auto 0;
            padding: 11px 0;
            transition: .1s ease-in-out;
            &:hover {
              background-color: $blue;
            }
            @include media-max(768) {
              width: 150px;
              font-size: 14px;
            }
          }
        }
      }
      .sec-left {
        padding: 80px 20px;
        height: 580px;
        @include media-max(768) {
          padding: 80px 10px;
        }
        @include opc(-45deg, $green, $blue);
        .box-logo {
          margin: 45px 0 104px;
          @include media-max(768) {
            margin: 53px 0;
          }
          img {
            width: 150px;
          }
        }
        span {
          width: 250px;
          margin: 10px auto;
          transition: .1s ease-in-out;
          display: block;
          cursor: pointer;
          @include btn(transparent, #FFF);
          @include media-max(768) {
            font-size: 14px;
            width: 150px;
            margin: 5px auto !important;
          }
          border: 1px solid #FFF;
          display: block;
          &:hover {
            background-color: $blue;
            border-color: $blue;
          }
        }
        span.active {
          @include btn(#FFF, $green);
          @include media-max(768) {
            font-size: 14px;
            width: 150px;
            margin: 5px auto !important;
          }
        }
      }
    }
  }
}
